
@{
    ViewData["Title"] = "Create";
}
    <form action="~/home/Create" method="post">
        <div class="form-group">
            <label for="name">Name :</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="average">Average :</label>
            <input type="text" name="average" class="form-control" id="average">
        </div>

        <input type="submit" value="Add Student" class="btn btn-default" />
    </form>